/* Estilos para o header */
.site-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 246px;
    padding-bottom: 44px;
    padding-left: 6%;
    padding-right: 5.5%;
    padding-top: 10px;
    background-color: white;
    position: relative;
    z-index: 3;
}

.site-header .left-item,
.site-header .center-item,
.site-header .right-item {
    /* Estilos para cada item no header */
}

/* Estilos para o corpo da página */
.page-content {
    text-align: center;
    padding-top: 5px; /* Ajuste conforme necessário */
    color: #000000;
    font-family: "Poppins", sans-serif;
}


.page-header {
    margin-left: auto;
    margin-right: auto;
    max-width: 620px;
    padding-bottom: 80px;
    padding-top: 30px;
}

.page-header h1 {
    font-size: 2em;
}

.page-header p {
    font-size: 1.2em;
    color: #999;
    font-family: times;
}

/* Estilos para a imagem na página */
.page-image {
    margin-top: 40px; /* Espaçamento superior para separar do texto */
}

.page-image .image-container {
    margin-bottom: 20px; /* Espaçamento inferior para cada imagem e descrição */
}

.page-image img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
}

.page-image p {
    margin-top: 10px; /* Espaçamento superior para separar a descrição da imagem */
    font-size: 1em;
    color: #555;
}
